<% flash.each do |key, value| %>
<!-- bootstrap uses alert as a warning class, lets make the classes match the messages -->
  <section id="alerts" class=" alert alert-success row span12 alert-<%= key %>">
  <% if value.is_a? Hash %>
    <p><%= value.delete :description %></p>
    <ul>
    <% value.each do |k, val| %>
       <%= content_tag(:li, val) %>
    <% end %>
    </ul>
  <% elsif value.is_a? Array %>
     <p><%= value.delete_at(0)  %></p>
     <ol>
     <% value.each do |val| %>
       <%= content_tag(:li, val) %>
     <% end %>
     </ol>
  <% else %>
    <%= value %>
  <% end %>
  </section>
<% end %>
