<div class="navbar" id="shared_menu">
  <div class="navbar-inner">
  <%= form_tag searches_path, :method => :get, :class => "navbar-form pull-right span8" do  %>
    <%= submit_tag I18n.translate('main_search.btn'), 
	    :class => "btn btn-info span3 pull-right"%>
    <%= text_field_tag :q, (@searchTerm || ""), :class => "span7 pull-right", :placeholder => I18n.translate('main_search.placeholder')%>
  <% end %>
  
  <ul class="nav nav-pills span4">
    <%= nav_bar_item({:controller => :bikes, :action => :index} ) do %>
      <i class=""></i>Bikes
      <%  end %>
    <%= nav_bar_item "Add a bike", :controller => :bikes, :action =>:new %>
  </ul>
  </div>
</div>


