
  <% if user_signed_in? %>
  <section id="user_login_status" class="span5">
  <p>Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path , :method=>:delete%></p>
  </section>
  <% else %>
  <section id="user_login_status" class="span3 no-user">
    <p>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
    </p>
  </section>
  
  <% end %>

<div id = "searchNav">
    <form action = "/searches" method = "get" class = "searchBox">
        <span class = "searchLabel">Search for a bike</span>
        <input type = "text" id = "searchInput" name = "search" value = "Ex. Black Schwinn" onfocus="inputFocus(this)" onblur="inputBlur(this)" style = "color:#888"/>
        <input type = "submit" name = "submit" value = "Search" class = "searchButton" />
    </form>
</div>
<% if false %>
<div class="span12" id="shared_menu">
  <ul class="nav">
    <li><%= link_to bikes_path do %><i class=""></i>Bikes<% end %></li>
    <% if user_signed_in? %>
    <!-- have a visual divider here like | -->
    <li class="signed-in-action-1"><%= link_to "Add a bike", new_bike_path %></li>
    <% end %>
    <li class="floatRight">
        <form action = '/searches' method = 'get' class = 'searchBox'>
            <input type = "text" name = "search" value = "Search by Bike/Hook Number" onfocus="inputFocus(this)" onblur="inputBlur(this)" style = "color:#888"/>
            <input type = "submit" name = "submit" value = "Search" />
        </form>
    </li>
  </ul>
</div>
<% end %>
