<div class="navbar" id="shared_menu">
  <div class="navbar-inner">
  <%= form_tag searches_path, :method => :get, :class => "navbar-form pull-right" do  %>
    <%= submit_tag I18n.translate('main_search.btn'), 
	    :class => "btn btn-info pull-right"%>
    <%= text_field_tag :q, (@searchTerm || ""), :class => "search-term pull-right", :placeholder => I18n.translate('main_search.placeholder')%>
  <% end %>
  
  <ul class="nav nav-pills">
    <%= content_tag :li, 
	:class => "dropdown #{nav_bar_curr_class(:controller => 'bikes', :action => :index)}" do %>
      <%= link_to available_bikes_path, {'data-toggle' => "dropdown" } do %>
        <i class=""></i>Bikes
	<b class="caret"></b>
	<ul class="dropdown-menu">
	  <li><%= link_to I18n.translate('nav.bikes.available'), :available_bikes  %></li>
	  <li><%= link_to I18n.translate('nav.bikes.assigned'), :assigned_bikes  %></li>
	  <li><%= link_to I18n.translate('nav.bikes.departed'), :departed_bikes  %></li>
	  <li class="divider"></li>
	  <li><%= link_to I18n.translate('nav.bikes.all'), :bikes  %></li>
	</ul>
      <%  end # a %>
    <% end # li%>
    <% if can? :create, Bike %>
    <%= content_tag :li,
	:class => nav_bar_curr_class(:controller => 'bikes', :action => :new) do %>
      <% link_to "Add a bike", new_bike_path %>
    <% end # li%>
    <% end # can? :create, Bike %>
  </ul>
  </div>
</div>


