<div class="row span3" id="shared_menu">
  <ul class="nav nav-list">
    <li class="nav-header">Listings</li>
    <li><%= link_to "Bikes Index", bikes_path %></li>
    <li><%= link_to "Enter a new bike", new_bike_path %>
    <li><%= link_to "Programs Index", programs_path %></li>
    <li><%= link_to "Projects Index", projects_path %></li>
    <% if user_signed_in? %>
    <li class="nav-header">Create</li>
    <li><%= link_to "Add a bike", new_bike_path %></li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
  <p>Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path , :method=>:delete%></p>
  <% else %>
  <p>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  </p>
  <% end %>
</div>
