<div id="shared_menu">
  <ul>
    <li><%= link_to "Bikes Index", root_path %></li>
    <% if user_signed_in? %>
    <li><%= link_to "Add a bike", new_bike_path %></li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
  <p>Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path , :method=>:delete%></p>
  <% else %>
  <p>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  </p>
  <% end %>
</div>
