
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
<%= javascript_include_tag "jquery" %>
<%= stylesheet_link_tag "mobile" %>
<script type = "text/javascript">
    $(document).ready(function(){

        var numBikes = 10;
        var count;
        function attachListeners(){
            $(window).scroll(scrollHandler);
            $(".sorter").each(function(){
                $(this).click(function(){
                    $(".active").removeClass("active");
                    $(this).addClass("active");
                    $("#footerLink").html("Loading...");
                    populateBikeList();
                });
            });
        }

        var scrollHandler = function(){
            var dHeight = getDocHeight();
            if($(window).scrollTop() + window.innerHeight >= dHeight - 10){
                $(window).unbind("scroll");
                $("#footerLink").html("Loading...");
                loadBikes();
            }
        }

        // Cross Browser Document Height from James Palodsy
        function getDocHeight() {
            var D = document;
            return Math.max(
                Math.max(D.body.scrollHeight, D.documentElement.scrollHeight),
                Math.max(D.body.offsetHeight, D.documentElement.offsetHeight),
                Math.max(D.body.clientHeight, D.documentElement.clientHeight)
            );
        }

        function getSorter(){
            return $(".active").attr("sortAttr");
        }

        function populateBikeList(){
            $("#bikeTableBody").html("");
            numBikes = 0;
            $.ajax({
                type : "GET",
                url : "/mobile/filter_bikes",
                data : {
                    "sortBy" : getSorter(),
                    "searchDesc" : "",
                    "min" : numBikes,
                    "max" : numBikes + 10,
                    "all" : "false"
                },
                dataType : "json",
                success: function(response){
                    count = parseInt(response.count);
                    if(numBikes + 10 < count){
                        renderHtml(response);
                    }
                }
            });
        }

        function loadBikes(){
            $.ajax({
                type : "GET",
                url : "/mobile/filter_bikes",
                data : {
                    "sortBy" : getSorter(),
                    "searchDesc" : "",
                    "min" : numBikes,
                    "max" : numBikes + 10,
                    "all" : "false"
                },
                dataType : "json",
                success: function(response){
                    count = parseInt(response.count);
                    if(numBikes + 10 < count){
                        renderHtml(response);
                    }
                    $("#footerLink").html("Back To Top");
                }
            });
        }

        function renderHtml(response){
            var bikes = response.bikes;
            for(var i = 0; i < bikes.length; i++){
                var bike = bikes[i];
                var bikeRow = document.createElement("tr");
                var bikeNumber = document.createElement("td");
                bikeNumber.innerHTML = bike.number;
                var bikeStatus = document.createElement("td");
                bikeStatus.innerHTML = (bike.departed_at ? bike.name + " - Departed" : (bike.name || "Available"));
                var bikeHook = document.createElement("td");
                bikeHook.innerHTML = bike.hook_number || "n/a";
                var bikeColor = document.createElement("td");
                bikeColor.innerHTML = bike.color;
                $(bikeRow)
                .append(bikeNumber)
                .append(bikeStatus)
                .append(bikeHook)
                .append(bikeColor);
                $("#bikeTable").append(bikeRow);
            }
            numBikes += 10;
            $(window).bind("scroll",scrollHandler);
            $("#footerLink").html("Back To Top");
            return false;
        }

        attachListeners();
    });
</script>
<div id = "container">
    <div id = "header">
        <h1><%= image_tag("freeridelogothin.png") %></h1>
    </div>
    <div id = "bikeListing">
    <table id = "bikeTable">
        <thead>
            <th id = "numberSort" sortAttr = "number" class = "active sorter">Number</th>
            <th sortAttr = "program_id" class = "sorter">Status</th>
            <th id = "hookSort" sortAttr = "hook_number" class = "sorter">Hook</th>
            <th id = "colorSort" sortAttr = "color" class = "sorter">Color</th>
        </thead>
        <tbody id = "bikeTableBody">
        <% @bikes.each do |bike| %>
            <tr>
                <td><%= bike.number %></td>
                <td><%= (bike.departed_at ? "#{bike.name} - Departed" : (bike.name or "Available")) %></td>
                <td><%= bike.hook_number or "n/a" %></td>
                <td><%= bike.color %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    </div>
    <div id = "bikeFooter">
        <a href = "#header" id = "footerLink">Back To Top</a>
    </div>
</div>
