<!-- Will Be Placed in head tag -->
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "mobile/index" %>
<%= stylesheet_link_tag "mobile" %>
<!-- End Head Tag -->
<span style = "display:none;" id = "hiddenSearch"><%= @search %></span>
<div id = "container">
    <div id = "header">
     <h1><%= link_to image_tag("freeridelogothin.png"),"/mobile/home" %></h1>
    </div>
    <div id = "bikeListing">
    <div>
        <span class = "mobileLabel">Color</span>
        <span class = "mobileLabel">Status</span>
    </div>
    <select id = "colorFilter" class = "mobileFilter">
        <option value = "all" selected>All</option>
        <% @colors.each do |color| %>
            <option value = "<%=color%>"><%=color%></option>
        <% end %>
    </select>
    <select id = "statusFilter" class = "mobileFilter">
        <option value = "all" selected>All</option>
        <option value = "-1">Available</option>
        <option value = "-2">Departed</option>
        <% @statuses.each do |progName,progId| %>
            <option value = "<%=progId%>"><%=progName%></option>
        <% end %>
    </select>
    <table id = "bikeTable">
        <thead>
            <th id = "numberSort" sortAttr = "number" class = "active sorter">Number</th>
            <th sortAttr = "program_id" class = "sorter">Status</th>
            <th id = "hookSort" sortAttr = "hook_number" class = "sorter">Hook</th>
            <th id = "colorSort" sortAttr = "color" class = "sorter">Color</th>
        </thead>
        <tbody id = "bikeTableBody">
        <% if @bikes.empty? %>
            <tr><td>No Bikes Found</td><td><a href = "/mobile/find">Try again</a></td></tr>
        <% end %>
        <% @bikes.each do |bike| %>
            <tr>
                <td><%= bike.number %></td>
                <td><%= (bike.departed_at ? "#{bike.name} - Departed" : (bike.name or "Available")) %></td>
                <td><%= bike.hook_number or "n/a" %></td>
                <td><%= bike.color %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    </div>
    <div id = "bikeFooter">
        <a href = "#header" id = "footerLink">Back To Top</a>
    </div>
</div>
