<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
<%= javascript_include_tag "jquery" %>
<%= stylesheet_link_tag "mobile" %>

<div id = "header">
 <h1><%= link_to image_tag("freeridelogothin.png"),"/mobile/home" %></h1>
</div>
<div id = "showContainer">
    <div id = "showDetails">
    <h3>Details</h3>
    <div><label>Number :</label> <%= @bike.number %></div>
    <div><label>Status :</label> <%= (@bike.departed_at ? "Departed" : (@bike.program ? @bike.program.name : "Available")) %></div>
    <div><label>Hook :</label> <%= (@bike.hook ? @bike.hook.label : "n/a") %></div>
    <div><label>Color :</label> <%= @bike.color %></div>
    <div><label>Brand :</label> <%= (@bike.brand ? @bike.brand.name : "n/a") %></div>
    <div><label>Model :</label> <%= (@bike.bike_model ? @bike.bike_model.name : "n/a") %></div>
    <div><label>Seat Tube :</label> <%= (@bike.seat_tube_height ? "#{@bike.seat_tube_height} inches" : "n/a")  %></div>
    <div><label>Top Tube :</label> <%= (@bike.top_tube_length ? "#{@bike.top_tube_length} inches" : "n/a")  %></div>
    <div><label>Wheel Size :</label> <%= @bike.get_wheel_size %></div>
    <div><label>Quality :</label> <%= @bike.quality %></div>
    <div><label>Condition :</label> <%= @bike.condition %></div>
    <div><label>Value :</label> <%= @bike.value || "n/a" %></div>
    </div>
    <div id = "showHistory">
    <h3>History</h3>
      <% @bike.assignments.each do |a| %>
            <div><b><%= (a.program ? a.program.name : "Available In Shop") %></b></div>
            <div>
            <p>From: <%= a.created_at.strftime('%Y-%m-%d') %></p>
            <% if !a.active %>
                <p>To: <%= a.closed_at.strftime('%Y-%m-%d') %></p>
            <% end %>
            </div>
      <% end %>
      <% if @bike.departed_at %>
        <div>Departed: <%= @bike.departed_at.strftime("%Y-%m-%d") %></div>
      <% end %>
    </div>
</div>
