<% if project.detail.inspections.count > 0 %>
  <h3>Inspection history</h3>
  <table class="table table-striped table-condensed">  
    <thead>
      <th>User</th>
      <th>Date started</th>
      <th>Completion</th>
      <th>Grade</th>
      <th>Inspection</th>
    </thead>
    <tbody>
    <% project.detail.inspections.each do |inspection| %>
      <% user = User.find(inspection.user_id) if inspection.user_id %>
      <tr>
	<td><%= (user.nil?) ? "Anonymous" : user.email %></td>
	<td><%= inspection.started_at %></td>
	<td>
	  <%= inspection_completion(project, inspection, current_user) %>
	</td>
	<td>
	  <%= inspection_grade(inspection) %>
	</td>
	<td>
	  <%= print_inspection_response_status(project, inspection, current_user) %>	  	  
	</td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
