<% 
@projects.all.each do |proj|
  prog = proj.projectable
  category = proj.project_category
 %>
<tr>
  <td><%= link_to "View", project_path(proj) %></td>
  <td><%= link_to proj.bike.number, bike_path(proj.bike) %></td>
  <td><%= link_to prog.title, program_path(prog) %></td>
  <td><%= link_to category.name, project_category_path(category) %></td>
  <td><%= proj.created_at.strftime('%d %B %y') %></td>
</tr>
<% end %>
