<div class="row offset2">
<% if project.detail.pass_req? %>
<h1>Confirm project close-out and depart</h1>
  <br />
  <p>Would you like to close the <%= project.prog.title %> bike <%= project.bike.number %>?</p>
   <%= form_for(project, :url=>close_project_path(project), :method => :put) do |f| %>
      <%= f.submit "Yes, close project and depart", :class=>"btn btn-primary" %>
   <% end %>
<% else %>
  <h1>Project not done yet</h2>
  <p>The project does not meet all requirements for finishing.</p>
  <p>You must <%= link_to "go to the project page to complete the project.", project_path(project) %></p>
  <h2>Override requirements to finish</h2>
  <p>If you must override project requirements, you can finish the project</p>
  <%= form_for(project, :url=>close_project_path(project), :method => :put) do |f| %>
    <%= hidden_field_tag(:force, "all") %>
    <%= f.submit "Close UNFINISHED project and depart", :class=>"btn btn-danger" %>
  <% end %>
<% end %>
</div>
