<section class="span12 show-project">
  <div id="projectInfo" class="span4 noteCard">
    <p>Program: <%= link_to project.prog.title, program_path(project.prog) %></p>
    <p>Bike: <%= link_to project.bike.number, bike_path(bike) %></p>
  </div>

  <%= render :partial => "project_step" %>

  <hr />
  
  <div class="span7 noLeftMarg">
    <% if project.detail.work_log %>
    <h3>Work log</h3>
    <%= link_to "Log work on this project", new_project_work_log_path(project) %>
    <%= render :partial=>"time_entries/index", 
    :locals=>{:time_entries => project.detail.time_entry_threads} %> 
    <% end %>
  </div>

  <section class="notesWrapper span3 offset1">
    <h3><%= pluralize(project.comment_threads.length, 'Note') %></h3>
    <%= render :partial=>"comments/form", :locals=>{:url => new_comment_project_path(project)} %>
    <%= render :partial=>"comments/index", :locals=>{:comments => project.comment_threads} %>
  </section> <!-- end of notes wrapper -->
  



  <div id="cancel-project-wrapper" class="span1 offset11">
    <%= form_for(project, :url=>project_path(project), :method=>:delete) do |f|%>
    <%= f.submit "Cancel Project.", :class => "btn btn-danger" %>
    <% end %>
  </div>


</section> <!-- show project wrapper -->
