<% bikes.each do |b| %>
<tr class = "bikeRow">
  <td class="BT5"><%= link_to b.number, bike_path(b) %></td>
  <td class="BT6"> 
    <% if b.available? %>
      <i class="icon-ok"></i> Available
    <% elsif b.departed? %>
      <i class="icon-folder-close"></i> Departed as <%= "#{b.allotment.application.name}" %>
    <% elsif b.allotment %>
      <%= link_to b.allotment.application do %><i class="icon-folder-open"></i> <%= "#{b.allotment.application.name} Project" %><% end %>
    <% end # elsif %>
  </td>
  <td class="BT7">
  <% if b.hook %>
  <%= link_to b.hook.number, hook_path(b.hook) %>
  <% else %>
  n/a
  <% end %>
  </td>
  <td><div class="BT1"><%= render Select2BikeBinder::Builder::ColorOption.new b.color %></div></td>
  <td><div class="BT2"><%= (b.brand.nil?)? '' : b.brand.name %></div></td>
  <td><div class="BT3"><%= b.seat_tube_height %></div></td>
  <td><div class="BT4"><%= b.wheel_size %></div></td>
</tr>
<% end %>
