<div id = "bikeFilters" class = "span3">
<div class = "filter">
    <div class = "filterName">
        <img src = "/assets/collapse-blue.png" id = "collapseStatus" />
        Status
        <span id = "allStatus" class = "allFilter">Select All</span><span id = "noStatus" class = "noFilter">Clear</span>
    </div>
    <div id = "statusContainer">
        <label class = "checkbox statusFilter">
            <input type = "checkbox" class = "checkStatus" checked = "checked" value = "-1" type = "checkbox" />Available
        </label>
        <label class = "checkbox statusFilter">
            <input type = "checkbox" class = "checkStatus" checked = "checked" value = "-2" type = "checkbox" />Departed</label>
        <% @statuses.each do |progName,progId| %>
            <label class = "checkbox statusFilter">
            <%= check_box_tag "bike_brand",progId,false,:class => "checkStatus" %> <%= progName %> <br />
            </label>
        <% end %>
    </div>
</div>

<div class = "filter">
    <div class = "filterName">
    <img src = "/assets/collapse-blue.png" id = "collapseColors" />
    Color
    <span id = "allColor" class = "allFilter">Select All</span><span id = "noColor" class = "noFilter">Clear</span>
    </div>
    <div id = "colorContainer">
        <% counter = 1 %>
        <% @colors.each do |color| %>
            <label class = "checkbox colorFilter">
            <input name = "bike_color" class = "checkColor" value = "<%=color%>" type = "checkbox" checked = "checked">
                <%= color %>
            </input>
            <span class = "colorSquare" style = "background-color:<%=color%>"></span>
            </label>
            <% counter = counter + 1 %>
        <% end %>
    </div>
</div>
</div>
