<% @bikes.each do |bike| %>
<tr>
  <td><%= link_to bike.number, bike_path(bike) %></td>
  <td><%= bike.color %></td>
  <td><%= bike.mfg %></td>
  <td><%= bike.model %></td>
  <td><%= bike.hook ? bike.hook.number : "n/a" %></td>
</tr>
<% end %>
