<% @bikes.each do |bike| %>
<tr>
  <td><%= link_to bike.number, bike_path(bike) %></td>
  <td><%= bike.color %></td>
  <td><%= bike.mfg %></td>
  <td><%= bike.model %></td>
  <td>
  <% if bike.hook %>
  <%= link_to bike.hook.number, hook_path(bike.hook) %>
  <% else %>
  n/a
  <% end %>
  </td>
</tr>
<% end %>
