<% bikes.each do |b| %>
<tr class = "bikeRow">
  <td class="BT5"><%= link_to b.number, bike_path(b) %></td>
  <td class="BT6"> 
    <% if b.available? %>
      <i class="icon-share"></i> Available
    <% elsif b.departed? %>
      <i class="icon-folder-close"></i> Departed as <%= "#{b.assignment.application.name}" %>
    <% elsif b.assignment %>
    <i class="icon-folder-open"></i> <%= "#{b.assignment.application.name} Project" %>
    <% end # elsif %>
  </td>
  <td class="BT7">
  <%= b.hook ? b.hook.number : 'n/a' %>
  </td>
  <td><div class="BT1"><%= render Select2BikeBinder::Builder::ColorOption.new b.color %></div></td>
  <td><div class="BT2"><%= (b.brand.nil?)? '' : b.brand.name %></div></td>
  <td><div class="BT3"><%= print_val('seat_tube_height', b.seat_tube_height) %></div></td>
  <td><div class="BT4"><%= print_val('wheel_size', b.wheel_size) %></div></td>
  <% if can? :create, Bike %>
    <td><%= print_val('value', b.value) %></td>
  <% end %>
</tr>
<% end %>
