<% bikes.each do |b| %>
<tr class = "bikeRow">
  <td><%= link_to b.number, bike_path(b) %></td>
  <td> 
    <% if b.available? %>
      <i class="icon-ok"></i> Available
    <% elsif b.departed? %>
      <%= link_to program_path(b.program) do %><i class="icon-folder-close"></i> Departed as <%= "#{b.program.name}" %><% end %>
    <% elsif b.program %>
      <%= link_to program_path(b.program) do %><i class="icon-folder-open"></i> <%= "#{b.program.name} Project" %><% end %>
    <% end # elsif %>
  </td>
  <td>
  <% if b.hook %>
  <%= link_to b.hook.number, hook_path(b.hook) %>
  <% else %>
  n/a
  <% end %>
  </td>
  <td><%= b.color %></td>
  <td><%= b.brand_name %></td>
  <td><%= b.seat_tube_height %></td>
  <td><%= b.get_wheel_size %></td>
</tr>
<% end %>
