<div class = "pull-left filter">
    <span class = "filterName">BRAND</span>
    <ul>
        <% @brands.each do |brand| %>
            <input name = "bike_brand" class = "checkBrand" value = "<%=brand.id%>" type = "checkbox" checked = "checked" >
                <%= brand.name %>
            </input><br />
        <% end %>
    </ul>
</div>
<div class = "pull-left filter">
    <span class = "filterName">COLOR</span>
    <ul>
        <% counter = 1 %>
        <% @colors.each do |color| %>
            <input name = "bike_color" class = "checkColor" value = "<%=color%>" type = "checkbox" checked = "checked">
                <%= color %>
            </input>
            <% if (counter%5 == 0) %>
                <br />
            <% end %>
            <% counter = counter + 1 %>
        <% end %>
    </ul>
</div>
<div class = "pull-left filter">
    <span class = "filterName">STATUS</span>
    <ul>
        <li>Available: <input type = "checkbox" class = "checkStatus" checked = "checked" value = "-1" type = "checkbox" /></li>
        <li>Departed: <input type = "checkbox" class = "checkStatus" checked = "checked" value = "-2" type = "checkbox" /></li>
        <% @statuses.each do |progName,progId| %>
            <li>
            <%= progName %>: <%= check_box_tag "bike_brand",progId,false,:class => "checkStatus" %><br />
            </li>
        <% end %>
    </ul>
</div>
<div class = "pull-left filter" id = "sort">
    <div class = "filterName">SORT BY</div>
    <select id = "sortBy">
        <% @sorts.each do |label,value| %>
            <option value = "<%= value %>"><%= label %></option>
        <% end %>
    </select>
</div>
