<!--<div class = "pull-left filter">
    <span class = "filterName">BRAND</span>
    <ul>
        <% @brands.each do |brand| %>
            <div class = "brandFilter">
            <input name = "bike_brand" class = "checkBrand" value = "<%=brand.id%>" type = "checkbox" checked = "checked" >
                <%= brand.name %>
            </input>
            </div>
        <% end %>
    </ul>
    <span id = "allBrand" class = "allFilter">Select All</span><span id = "noBrand" class = "noFilter">Clear</span>
</div>-->
<div class = "pull-left filter">
    <span class = "filterName">COLOR</span>
    <ul>
        <% counter = 1 %>
        <% @colors.each do |color| %>
            <div class = "colorFilter" style = "background-color:<%=color%>">
            <input name = "bike_color" class = "checkColor" value = "<%=color%>" type = "checkbox" checked = "checked">
                <%= color %>
            </input>
            <% counter = counter + 1 %>
            </div>
        <% end %>
    </ul>
    <span id = "allColor" class = "allFilter">Select All</span><span id = "noColor" class = "noFilter">Clear</span>
</div>
<div class = "pull-left filter">
    <span class = "filterName">STATUS</span>
    <ul>
        <li class = "statusFilter"><input type = "checkbox" class = "checkStatus" checked = "checked" value = "-1" type = "checkbox" />Available</li>
        <li class = "statusFilter"><input type = "checkbox" class = "checkStatus" checked = "checked" value = "-2" type = "checkbox" />Departed</li>
        <% @statuses.each do |progName,progId| %>
            <li class = "statusFilter">
            <%= check_box_tag "bike_brand",progId,false,:class => "checkStatus" %> <%= progName %> <br />
            </li>
        <% end %>
    </ul>
    <span id = "allStatus" class = "allFilter">Select All</span><span id = "noStatus" class = "noFilter">Clear</span>
</div>
<div class = "pull-left filter">
    <span class = "filterName">DESCRIPTION</span>
    <div>
        <input type = "text" id = "searchDesc" placeholder = "Number,Color,Brand,Etc." />
    </div>
    <div>
        <input type = "button" id = "searchButton" value = "Find" />
    </div>
</div>
