<% bikes.each do |b| %>
<tr>
  <td><%= link_to b.number, bike_path(b) %></td>
  <td> 
    <% if b.available? %>
      <i class="icon-ok"></i> Available
    <% elsif b.departed? %>
      <%= link_to project_path(b.project) do %><i class="icon-folder-close"></i> Departed as <%= "#{b.project.project_category.name}" %><% end %>
    <% elsif b.project %>
      <%= link_to project_path(b.project) do %><i class="icon-folder-open"></i> <%= "#{b.project.project_category.name} Project" %><% end %>
    <% end # elsif %>
  </td>
  <td>
  <% if b.hook %>
  <%= link_to b.hook.number, hook_path(b.hook) %>
  <% else %>
  n/a
  <% end %>
  </td>
  <td><%= b.color %></td>
  <td><%= b.mfg %></td>
  <td><%= b.model %></td>
</tr>
<% end %>
