<script type="text/javascript">
I18n.locale = "<%= I18n::locale %>"; //specify locale

$(document).ready(function(){
    // Initialize the Select2 Interface Elements
    select_init(sel2.WheelSelectBuilder)
    select_init(sel2.ColorSelectBuilder)

     select_init(sel2.ModelNestedBrandSelectBuilder, 
     {optns:{api_url:"<%= search_api_v1_bike_mfg_queries_url  %>"}});

     select_init(sel2.BrandSelectBuilder, 
     {optns:{api_url:"<%= search_brands_api_v1_bike_mfg_queries_url  %>"}});

     select_init(sel2.ModelSelectBuilder, 
     {optns:{api_url:"<%= search_models_api_v1_bike_mfg_queries_url  %>"}});
})

</script>

<%= form_for bike_form, 
    :html => {:class => "new_bike span4"}, 
    :url => url_for(bike_form.bike),
    :method => bike_form.form_method(action_name) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<div class = "span3">
<%= f.label :number %>
<%= f.text_field :number, :required => true %>


<%= f.label :color %>
<% color_optns = {:multiple=>false, :param_key => 'color', :value=>bike.color.key} %>
<%= render Select2BikeBinder::Builder::ColorSelect.new f, color_optns %>


<%=  render :partial=>'select2_ui/brand_model_lookup_create', :locals =>{:form_builder =>f, :value=>bike.bike_model_id} %>  

<%= f.label :value, "Value" %>
<%= f.text_field :value, :maxlength => 10 %>
</div>

<div class = "span3">
<%= f.label :quality, "Quality" %>
<%= f.select :quality, Bike.qualities %>

<%= f.label :condition, "Condition" %>
<%= f.select :condition, Bike.conditions %>

<%= f.label :wheel_size, "Wheel Size" %>
<%=  render Select2BikeBinder::Builder::WheelDiameterSelect.new(f,
     :param_key=>'wheel_size', :multiple=>false, :value=>bike.wheel_size, :width=>"90%") %>

<%= f.label :seat_tube_height, "Seat tube height" %>
<%= f.text_field :seat_tube_height, :maxlength => 7 %>
<select id = "seat_tube_unit" name = 'bike[seat_tube_unit]'>
  <option value = "inches">inch</option>
  <option value = "centimeters">cm</option>
</select>

<%= f.label :top_tube_length, "Top tube length" %>
<%= f.text_field :top_tube_length, :maxlength => 7 %>
<select id = "top_tube_unit" name = 'bike[top_tube_unit]'>
  <option value = "inches">inch</option>
  <option value = "centimeters">cm</option>
</select>
</div>
<div class = "span3">

<% submit_text = (action_name == 'new') ? "Create new bike" : "Save changes" %>
<%= f.submit submit_text, :class => "btn btn-primary" %>
</div>
</fieldset>
<% end %>

