<script type = "text/javascript">
    $(function(){ // Load jquery
    
        // Function to attach event listeners to form
        function attachListeners(){
            // Attach Brand Listener
            $("#bike_brand_id").change(function(){
                var brand = $("#bike_brand_id").val();
                if (brand === undefined || brand === ""){
                    brand = "-1";
                }
                // On select, get models based on this brand
                $.ajax({
                    url: "/bikes/get_models/" + brand,
                    dataType: 'json'
                }).done(function(response){
                    var modelSelect = $("#bike_bike_model_id");
                    modelSelect.html("");
                    if(response.length === 0){
                        var noneOpt = document.createElement("option");
                        noneOpt.value = "";
                        noneOpt.innerHTML = "None";
                        modelSelect.append(noneOpt);
                    }
                    for(var i = 0; i < response.length; i++){
                        var brandJson = response[i];
                        var newModel = document.createElement("option");
                        newModel.value = brandJson.id;
                        newModel.innerHTML = brandJson.name;
                        modelSelect.append(newModel);                   
                    }
                });
            });

            // Attach Click Add Listeners
            $("#add_brand").click(function(){
                // Hide select
                $("#bike_brand_id").hide();
                $("#bike_brand_id").val("");
                $("#add_brand").hide();
                $("#bike_new_brand_id").show();
            });
            $("#add_model").click(function(){
                $("#bike_bike_model_id").hide();
                $("#bike_bike_model_id").val("");
                $("#add_model").hide();
                $("#bike_new_bike_model_id").show();
            });    
        }
        
        
        attachListeners(); 
    });
</script>
<!-- This is the main form generated for editing a bike. Another form template is rendered for creating a new bike. -->
<%= form_for(bike) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

<%= f.label :number %>
<%= f.text_field :number, :value=>bike.number , :required => true %>

<%= f.label :color %>
<%= f.text_field :color , :required => true, :id => "colorInput"  %>

<%= f.label :brand_id, "Manufacturer" %>
<%= f.collection_select :brand_id, Brand.all, :id, :name, {:include_blank => "None"} %>
<span id = "add_brand">New Brand</span>
<input type = "text" id = "bike_new_brand_id" name = "bike[new_brand_id]" style = "display:none;" />

<%= f.label :bike_model_id, "Model" %>
<%= f.collection_select :bike_model_id, BikeModel.all, :id, :name, {:include_blank => "None"} %>
<span id = "add_model">New Model</span>
<input type = "text" id = "bike_new_bike_model_id" name = "bike[new_bike_model_id]" style = "display:none;" />

<%= f.label :quality, "Quality" %>
<%= f.select :quality, Bike.qualities %>

<%= f.label :condition, "Condition" %>
<%= f.select :condition, Bike.conditions %>

<%= f.label :wheel_size, "Wheel Size" %>
<%= f.select :wheel_size, Bike.wheel_sizes %>

<%= f.label :seat_tube_height, "Seat tube height" %>
<%= f.text_field :seat_tube_height, :maxlength => 7 %>

<%= f.label :top_tube_length, "Top tube length" %>
<%= f.text_field :top_tube_length, :maxlength => 7 %>

<%= f.label :value, "Value" %>
<%= f.text_field :value, :maxlength => 10 %>

<!-- how do I make render this tag differently for edit or add bike? -->
<% submit_text = (bike.id.nil?) ? "Create new bike" : "Save changes" %>
<%= f.submit submit_text, :class => "btn btn-primary" %>

</fieldset>

<% end %>
