<script type = "text/javascript">
    $(function(){ // Load jquery
    
        // Function to attach event listeners to form
        function attachListeners(){
            // Attach Brand Listener
            $("#bike_brand_id").change(function(){
                var brand = $("#bike_brand_id").val();
                if (brand === undefined || brand === ""){
                    brand = "-1";
                }
                // On select, get models based on this brand
                $.ajax({
                    url: "/bikes/get_models/" + brand,
                    dataType: 'json'
                }).done(functi6on(response){
                    var modelSelect = $("#bike_bike_model_id");
                    modelSelect.html("");
                    if(response.length === 0){
                        var noneOpt = document.createElement("option");
                        noneOpt.value = "";
                        noneOpt.innerHTML = "None";
                        modelSelect.append(noneOpt);
                    }
                    for(var i = 0; i < response.length; i++){
                        var brandJson = response[i];
                        var newModel = document.createElement("option");
                        newModel.value = brandJson.id;
                        newModel.innerHTML = brandJson.name;
                        modelSelect.append(newModel);                   
                    }
                });
            });

            $("#bike_bike_model_id").change(function(){
                var bikeModel = $("#bike_bike_model_id").val();
                if (bikeModel === undefined || bikeModel === ""){
                    bikeModel = "-1";
                }
                // On select, get models based on this brand
                $.ajax({
                    url: "/bikes/get_brands/" + bikeModel,
                    dataType: 'json'
                }).done(function(response){
                    var brandSelect = $("#bike_brand_id");
                    brandSelect.html("");
                    if(response.length === 0){
                        var noneOpt = document.createElement("option");
                        noneOpt.value = "";
                        noneOpt.innerHTML = "None";
                        brandSelect.append(noneOpt);
                    }
                    for(var i = 0; i < response.length; i++){
                        var brandJson = response[i];
                        var newBrand = document.createElement("option");
                        newBrand.value = brandJson.id;
                        newBrand.innerHTML = brandJson.name;
                        brandSelect.append(newBrand);                   
                    }
                });
            });
            // Attach Click Add Listeners
            var offBrandClick = function(){
                // Hide select
                $("#bike_brand_id").hide();
                $("#bike_brand_id").val("");
                $("#bike_new_brand_id").show();
                $("#bike_new_brand_id").focus();
                $(this).addClass("on");
                $(this).html("Old brand");
                $(this).removeClass("off");
                $(this).unbind();
                $(this).click(onBrandClick);
            };

            var offModelClick = function(){
                $("#bike_bike_model_id").hide();
                $("#bike_bike_model_id").val("");
                $("#bike_new_bike_model_id").show();
                $("#bike_new_bike_model_id").focus();
                $(this).addClass("on");
                $(this).html("Old model");
                $(this).removeClass("off");
                $(this).unbind();
                $(this).click(onModelClick);
            };    

            var onBrandClick = function(){
                // Hide select
                $("#bike_new_brand_id").hide();
                $("#bike_new_brand_id").val("");
                $("#bike_brand_id").show();
                $("#bike_brand_id").focus();
                $(this).addClass("off");
                $(this).html("New brand");
                $(this).removeClass("on");
                $(this).unbind();
                $(this).click(offBrandClick);
            };

            var onModelClick = function(){
                $("#bike_new_bike_model_id").hide();
                $("#bike_new_bike_model_id").val("");
                $("#bike_bike_model_id").show();
                $("#bike_bike_model_id").focus();
                $(this).addClass("off");
                $(this).html("New model");
                $(this).removeClass("on");
                $(this).unbind();
                $(this).click(offModelClick);
            };

            $("#add_brand.off").click(offBrandClick);
            $("#add_model.off").click(offModelClick);
        }
        
        
        attachListeners(); 
    });
</script>
<!-- This is the main form generated for editing a bike. Another form template is rendered for creating a new bike. -->
<%= form_for(bike) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<div class = "span3">
<%= f.label :number %>
<%= f.text_field :number, :value=>bike.number , :required => true %>

<%= f.label :color %>
<%= f.text_field :color , :required => true, :id => "colorInput"  %>

<%= f.label :brand_id, "Brand" %>
<%= f.collection_select :brand_id, Brand.all, :id, :name, {:include_blank => "None"} %>
<input type = "text" id = "bike_new_brand_id" name = "bike[new_brand_id]" style = "display:none;" />
<span id = "add_brand" class = "off">New Brand</span>

<%= f.label :bike_model_id, "Model" %>
<%= f.collection_select :bike_model_id, BikeModel.all, :id, :name, {:include_blank => "None"} %>
<input type = "text" id = "bike_new_bike_model_id" name = "bike[new_bike_model_id]" style = "display:none;" />
<span id = "add_model" class = "off">New Model</span>
</div>
<div class = "span2">
<%= f.label :quality, "Quality" %>
<%= f.select :quality, Bike.qualities %>

<%= f.label :condition, "Condition" %>
<%= f.select :condition, Bike.conditions %>

<%= f.label :wheel_size, "Wheel Size" %>
<%= f.select :wheel_size, Bike.wheel_sizes %>

<%= f.label :seat_tube_height, "Seat tube height" %>
<%= f.text_field :seat_tube_height, :maxlength => 7 %>
<select id = "seat_tube_unit">
  <option value = "inches">inch</option>
  <option value = "centimers">cm</option>
</select>

<%= f.label :top_tube_length, "Top tube length" %>
<%= f.text_field :top_tube_length, :maxlength => 7 %>
<select id = "top_tube_unit">
  <option value = "inches">inch</option>
  <option value = "centimers">cm</option>
</select>

<%= f.label :value, "Value" %>
<%= f.text_field :value, :maxlength => 10 %>

<!-- how do I make render this tag differently for edit or add bike? -->
<% submit_text = (bike.id.nil?) ? "Create new bike" : "Save changes" %>
<%= f.submit submit_text, :class => "btn btn-primary" %>
</div>
</fieldset>

<% end %>
