<%= form_for bike_form, 
    :html => {:class => "new_bike span4"}, 
    :url => url_for(bike_form.bike),
    :method => bike_form.form_method(action_name) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<div class = "span3">
<%= f.label :number %>
<%= f.text_field :number, :required => true %>


<%= f.label :color %>
<% color_optns = {:multiple=>false, :param_key => 'color', :value=>bike.color.key} %>
<%= render Select2BikeBinder::Builder::ColorSelect.new f, color_optns %>


<%=  render :partial=>'select2_ui/brand_model_lookup_create', :locals =>{:form_builder =>f, :value=>bike.bike_model_id} %>  

<%= f.label :value, "Value" %>
<p><%= I18n.translate('bike.price_guide.sale_price.definition') %></p>
<dl>
  <dt><%= I18n.translate('bike.price_guide.base.term') %></dt>
  <dd><%= I18n.translate('bike.price_guide.base.definition') %></dd>

  <dt><%= I18n.translate('bike.price_guide.damage.term') %></dt>
  <dd><%= I18n.translate('bike.price_guide.damage.definition') %></dd>

  <dt><%= I18n.translate('bike.price_guide.labor.term') %></dt>
  <dd><%= I18n.translate('bike.price_guide.labor.definition') %></dd>

  <dt><%= I18n.translate('bike.price_guide.missing_parts.term') %></dt>
  <dd><%= I18n.translate('bike.price_guide.missing_parts.definition') %></dd>
</dl>
</div>
<%= f.text_field :value, :maxlength => 10 %>

<div class = "">

<% f.label :quality, "Quality" %>
<% f.select :quality, Bike.qualities %>

<p>Quality</p>
<table>
<thead>
<tr>
  <th>Rating</th>
  <th>Description</th>
  <th>Ideal Price</th>
</tr>
</thead>
<tbody>
  <% I18n.translate('bike.quality').each do |rating, info|  %>
  <tr>
    <td>
      <%= f.label "quality_#{rating}".to_sym do %>
      <% is_checked = (rating.to_s == bike_form.quality) %>
      <%= f.radio_button :quality, rating, :checked => is_checked %> <%= rating %>
      <% end %>
    </td>
    <td><%= info[:description] %></td>
    <td><%= info[:ideal_price] %></td>
  </tr>
  <% end %>
</tbody>
</table>


<% f.label :condition, "Condition" %>
<% f.select :condition, Bike.conditions %>

<p>Condition</p>
<table>
<thead>
<tr>
  <th>Rating</th>
  <th>Description</th>
  <th>Completeness</th>
</tr>
</thead>
<tbody>
  <% I18n.translate('bike.condition').each do |rating, info|  %>
  <tr>
    <td>
      <%= f.label "condition_#{rating}".to_sym do %>
      <% is_checked = (rating.to_s == bike_form.condition) %>
      <%= f.radio_button :condition, rating, :checked => is_checked %> <%= rating %>
      <% end %>
    </td>
    <td><%= info[:description] %></td>
    <td><%= info[:completeness] %></td>
  </tr>
  <% end %>
</tbody>
</table>


<%= f.label :wheel_size, "Wheel Size" %>
<%=  render Select2BikeBinder::Builder::WheelDiameterSelect.new(f,
     :param_key=>'wheel_size', :multiple=>false, :value=>bike.wheel_size, :width=>"90%") %>
<%= 
render :partial=>'units/input', 
:locals => {:form_builder => f, 
:fields => {
  :seat_tube_height => bike_form.seat_tube_height,
  :top_tube_length => bike_form.top_tube_length
}
} 
%>

</div>
<div class = "span3">

<% submit_text = I18n.translate('commit_btn')[action_name.to_sym] %>
<%= f.submit submit_text, :class => "btn btn-primary" %>
</div>
</fieldset>
<% end %>

