<script type="text/javascript">
I18n.locale = "<%= I18n::locale %>"; //specify locale

$(document).ready(function(){
// Initialize the Select2 Interface Elements
select_init(sel2.WheelSelectBuilder, 
{selector:"<%="*.#{Select2BikeBinder::Builder::WheelDiameterSelect.selector_class}"%>"});

select_init(sel2.ColorSelectBuilder, 
{selector:"<%="*.#{Select2BikeBinder::Builder::ColorSelect.selector_class}"%>"});

})

</script>

<%= form_for bike_form, :html => {:class => "new_bike span4"}, :url => url_for(bike_form.bike), :method => bike_form.form_method(action_name) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<div class = "span3">
<%= f.label :number %>
<%= f.text_field :number, :required => true %>


<%= f.label :color %>
<% color_optns = {:multiple=>false, :param_key => 'color', :value=>bike.color.key} %>
<%= render Select2BikeBinder::Builder::ColorSelect.new f, color_optns %>
<% # f.text_field :color , :required => true, :id => "colorInput"  %>

<%= f.label :brand_id, "BikeBrand" %>

<%= f.label :bike_model_id, "Model" %>


<%= f.label :value, "Value" %>
<%= f.text_field :value, :maxlength => 10 %>
</div>
<div class = "span2">
<%= f.label :quality, "Quality" %>
<%= f.select :quality, Bike.qualities %>

<%= f.label :condition, "Condition" %>
<%= f.select :condition, Bike.conditions %>

<%= f.label :wheel_size, "Wheel Size" %>
<%=  render Select2BikeBinder::Builder::WheelDiameterSelect.new(f,
     :param_key=>'wheel_size', :multiple=>false, :value=>bike.wheel_size, :width=>"90%") %>
<% #f.select :wheel_size, IsoBsdI18n::Rarity::default_division.common.sizes %>

<%= f.label :seat_tube_height, "Seat tube height" %>
<%= f.text_field :seat_tube_height, :maxlength => 7 %>
<select id = "seat_tube_unit" name = 'bike[seat_tube_unit]'>
  <option value = "inches">inch</option>
  <option value = "centimeters">cm</option>
</select>

<%= f.label :top_tube_length, "Top tube length" %>
<%= f.text_field :top_tube_length, :maxlength => 7 %>
<select id = "top_tube_unit" name = 'bike[top_tube_unit]'>
  <option value = "inches">inch</option>
  <option value = "centimeters">cm</option>
</select>
</div>
<div class = "span3">
<!-- how do I make render this tag differently for edit or add bike? -->
<% submit_text = (action_name == 'new') ? "Create new bike" : "Save changes" %>
<%= f.submit submit_text, :class => "btn btn-primary" %>
</div>
</fieldset>
<% end %>

<div class = "span7">
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#WheelSizing" data-toggle="tab">Wheel Sizing</a></li>
    <li><a href="#QualityCondition" data-toggle="tab">Quality & Condition</a></li>
    <li><a href="#SizeMeasurements" data-toggle="tab">Size Measurements</a></li>
        <li><a href="#PricingGuide" data-toggle="tab">Pricing Guide</a></li>
    
    </ul>
     
    <div class="tab-content">
    <div class="tab-pane active" id="WheelSizing">
                <table>
                        <tr>
                                <th style = "width:120px;">ISO Diameter (1)</th>
                                <th style="width:200px;">Traditional Name (0+)</th>
                                <th>Application (0+)</th>
                                <th>Rarity (1)</th>
                        </tr>
                        <tr>
                                <td class="c1">630</td>
                                <td class="c2">27 x anything</td>
                                <td>Older road bikes</td>
                                <td class="c4">Common</td>
                        </tr>
                        <tr>
                                <td class="c1">622</td>
                                <td class="c2">700 C, <br>
                                        28 x (two fractions)<br>
                                        29 inch<br>
                                        28 x 1 1/2 F.13 Canada</td>
                                <td>Newer road bikes<br>
                                        29er Mountain bikes</td>
								<td class="c4">Common</td>
                        </tr>
                        <tr>
                                <td class="c1">597</td>
                                <td class="c2">26 x 1 1/4,<br>
                                26 x 1 3/8 (S-6)
                                </td>
                                <td>Older British sport & club bikes<br>
                                Schwinn "lightweights"
                                </td>
                                <td class="c4">Uncommon</td>
                        </tr>
                        <tr>
                                <td class="c1">590</td>
                                <td class="c2">26 x 1 3/8 (E.A.3)<br>
                                650 A
                                </td>
                                <td>Most English 3-speeds, <br>
                                Department-store or juvenile 10 speeds
                                </td>
                                <td class="c4">Uncommon</td>
                        </tr>
                        <tr>
                                <td class="c1">571</td>
                                <td class="c2">26 x 1<br>
                                26 x 1 3/4<br>
                                650 C
                                </td>
                                <td>Triathlon, time trial, high performance road bikes for smaller riders</td>
                                <td class="c4">Uncommon</td>
                        </tr>
                        <tr>
                                <td class="c1">559</td>
                                <td class="c2">26 x 1.00- x 2.125</td>
                                <td>Most Mountain bikes<br>
                                Cruisers
                                </td>
                                <td class="c4">Common</td>
                        </tr>
                        <tr>
                                <td class="c1">507</td>
                                <td class="c2">24 x 1.5- x 2.125</td>
                                <td>Juvenile mountain bikes <br>
                                Cruisers
                                </td>
                                <td class="c4">Common</td>
                        </tr>
                        <tr>
                                <td class="c1">406</td>
                                <td class="c2">20 x 1.5- x 2.125</td>
                                <td>Most BMX<br>
                                Juvenile<br>
                                Folders<br>
                                Trailers<br>
                                Some recumbents
                                </td>
                                <td class="c4">Common</td>
                        </tr>
                        <tr>
                                <td class="c1">305</td>
                                <td class="c2">16 x 1.75- x 2.125</td>
                                <td>Juvenile <br>
                                Folders<br>
                                Trailers <br>
                                Some recumbents
                                </td>
                                <td class="c4">Common</td>
                        </tr>


                </table>

        </div>
    <div class="tab-pane" id="QualityCondition">

                        <table>
                                <tr>
                                        <th>Quality</th>
                                        <th>Description</th>
                                        <th>Repaired Price</th>
                                </tr>
                                <tr>
                                        <td>A</td>
                                        <td>Frames of Good Material(chromoly, aluminum). Mid to high end components, even if some are missing.</td>
                                        <td>$120 or more.</td>
                                </tr>
                                <tr>
                                        <td>B</td>
                                        <td>Start bikes in a bike shop. The frame accepts 3-piece cranks and has other good features. All of the parts are low-end to mid-range. Older bikes that were high-end of their time.</td>
                                        <td>$70-119</td>
                                </tr>
                                <tr>
                                        <td>C</td>
                                        <td>Department store bikes with modern features and no gimmicks. Older bikes that were mid-range of their time.</td>
                                        <td>$40-69</td>
                                </tr>
                                <tr>
                                        <td>D</td>
                                        <td>Department store bikes with rear suspension or other gimmicks. Outdated department bikes from the 80s or earlier.</td>
                                        <td>$39 or less</td>
                                </tr>
                                <tr>
                                        <td>F</td>
                                        <td>Failure. No reason to keep this bicycle and not expected to be sold in any condition.</td>
                                        <td>$0</td>
                                </tr>
                                <tr>
                                        <td><br><br></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <th>Condition</th>
                                        <th>Description</th>
                                        <th>Component Completeness</th>
                                </tr>
                                <tr>
                                        <td>A</td>
                                        <td>Passes the fix for sale completion checklist and would be ready to sell</td>
                                        <td>100%</td>
                                </tr>
                                <tr>
                                        <td>B</td>
                                        <td>The bicycle is complete, and it satisfies at least half of the fix for sale completion checklist.</td>
                                        <td>100%</td>
                                </tr>
                                <tr>
                                        <td>C</td>
                                        <td>The bicycle is complete but it meets less than half of the fix for sale completion checklist. Or, the bicycle is missing important parts, but what is there is working well.</td>
                                        <td>75%-100%</td>
                                </tr>
                                <tr>
                                        <td>D</td>
                                        <td>The bicycle is missing components. The present components are in need of major repair.</td>
                                        <td>75%-50%</td>
                                </tr>
                                <tr>
                                        <td>F</td>
                                        <td>This bike would require significant work to function. Repairing it would be equivalent to starting from a frame if it is not at that point already.
                                        </td>
                                        <td>50% or less</td>
                                </tr>
                        </table>

</div>
    <div class="tab-pane" id="SizeMeasurements">
        <table>
                        <tr>
                                <th>Size</th>
                                <th>Description</th>
                        </tr>
                        <tr>
                                <td>ST</td>
                                <td>Seat tube center to top. See diagram "seat tube length C-T"</td>
                        </tr>
                        <tr>
                                <td>TT</td>
                                <td>Top tube. See diagram "Top tube length C-C"</td>
                        </tr>
                        <tr>
                                <td>Wheel Diameter</td>
                                <td>"Wheel diameter according to the ISO standard, same as tire bead seat diameter.
                                Check for wheel size on the tire or on the rim. Use the ISO cross reference chart for help."
                                </td>
                        </tr>
                </table>

    </div>
    <div class="tab-pane" id="PricingGuide">

                <table>
                        <tr>
                                <td class="PGC1">Pricing Guide:</td>
                                <td>Sale Price = Base - (Damage) - (Labor) - (Missing Parts Cost)</td>
                        </tr>
                        <tr>
                                <td class="PGC1">1. Base:</td>
                                <td>What we would sell it for in mint condition</td>
                        </tr>
                        <tr>
                                <td class="PGC1">2. Damage:</td>
                                <td>Subtract $5 to $20 for rust and wear, if there is any</td>
                        </tr>
                        <tr>
                                <td class="PGC1">3. Labor:</td>
                                <td>Subtract needed labor = (number of hours of work needed) x ($8 per hour)</td>
                        </tr>
                        <tr>
                                <td class="PGC1">4. Missing Parts:</td>
                                <td>Subtract some discount for any stuff it is obvious they will have to buy new (example, 27" tires or a rear cassette). This does not apply to people who want to do single-speed or fixed gear conversions or other customizations since those customizations are not necessary for getting the bike up and running.</td>
                        </tr>
                </table>

    </div>
    </div>
</div>




<script type = "text/javascript">

   
	$(function(){ // Load jquery

        // Load Tab Interface
        $('#myTab a:first').tab('show');
        $("li a").each(function(){
            $(this).click(function(){
                $(this).tab('show');
            });
        });

        function attachGuideListeners(){
            $("#bike_quality").focus(function(){
                $($("#myTab li a")[1]).tab('show');
            });
            $("#bike_condition").focus(function(){
                $($("#myTab li a")[1]).tab('show');
            });
            $("#bike_wheel_size").focus(function(){
                $($("#myTab li a")[0]).tab('show');
            });
            $("#bike_seat_tube_height").focus(function(){
                $($("#myTab li a")[2]).tab('show');
            });
            $("#bike_top_tube_length").focus(function(){
                $($("#myTab li a")[2]).tab('show');
            });
            $("#bike_value").focus(function(){
                $($("#myTab li a")[3]).tab('show');
            });

        }
    
        // Function to attach event listeners to form
        function attachListeners(){
            // Attach Brand Listener
            $("#bike_brand_id").change(function(){
                var brand = $("#bike_brand_id").val();
                if (brand === undefined || brand === ""){
                    brand = "-1";
                }
                // On select, get models based on this brand
                $.ajax({
                    url: "/bikes/get_models/" + brand,
                    dataType: 'json'
                }).done(function(response){
                    var modelSelect = $("#bike_bike_model_id");
                    modelSelect.html("");
                    if(response.length === 0){
                        var noneOpt = document.createElement("option");
                        noneOpt.value = "";
                        noneOpt.innerHTML = "None";
                        modelSelect.append(noneOpt);
                    }
                    for(var i = 0; i < response.length; i++){
                        var brandJson = response[i];
                        var newModel = document.createElement("option");
                        newModel.value = brandJson.id;
                        newModel.innerHTML = brandJson.name;
                        modelSelect.append(newModel);                   
                    }
                });
            });
           // Attach Click Add Listeners
            var offBrandClick = function(){
                // Hide select
                $("#bike_brand_id").hide();
                $("#bike_brand_id").val("");
                $("#bike_new_brand_id").show();
                $("#bike_new_brand_id").focus();
                $(this).addClass("on");
                $(this).html("Old brand");
                $(this).removeClass("off");
                $(this).unbind();
                $(this).click(onBrandClick);
            };

            var offModelClick = function(){
                $("#bike_bike_model_id").hide();
                $("#bike_bike_model_id").val("");
                $("#bike_new_bike_model_id").show();
                $("#bike_new_bike_model_id").focus();
                $(this).addClass("on");
                $(this).html("Old model");
                $(this).removeClass("off");
                $(this).unbind();
                $(this).click(onModelClick);
            };    

            var onBrandClick = function(){
                // Hide select
                $("#bike_new_brand_id").hide();
                $("#bike_new_brand_id").val("");
                $("#bike_brand_id").show();
                $("#bike_brand_id").focus();
                $(this).addClass("off");
                $(this).html("New brand");
                $(this).removeClass("on");
                $(this).unbind();
                $(this).click(offBrandClick);
            };

            var onModelClick = function(){
                $("#bike_new_bike_model_id").hide();
                $("#bike_new_bike_model_id").val("");
                $("#bike_bike_model_id").show();
                $("#bike_bike_model_id").focus();
                $(this).addClass("off");
                $(this).html("New model");
                $(this).removeClass("on");
                $(this).unbind();
                $(this).click(offModelClick);
            };

            $("#add_brand.off").click(offBrandClick);
            $("#add_model.off").click(offModelClick);

            // Attach Guide Listeners
            attachGuideListeners();
        }
        
        
        attachListeners(); 
    });
</script>
