<section class="" id = "indexSection">
<% # render :partial=>"bike_filter" %>
<ul>
  <li><%= link_to 'Available', :available_bikes %></li>
  <li><%= link_to 'Assigned', :assigned_bikes %></li>
  <li><%= link_to 'Departed', :departed_bikes %></li>
  <li><%= link_to 'All Bikes', :bikes %></li>
</ul>
<%= render :partial=>"bike_table", :layout =>"bike_table_layout" %>
</section>
