<section class="show-bike">
  

  <section class="bikesMeta span3">

    <div class="locationWrap">
      <h3>Location</h3>
      <% if bike.departed? %>
        <p>Bike has departed.</p>
      <% else %>
        <% if bike.hook %>
          <p>Bike <%= bike.number %> is on hook: <%= bike.hook.number %>.</p>
	  <% if can? :update, bike %>
          <%= form_for bike.hook_reservation, :method=>:delete do |f| %>
	  <%= render :partial => 'form_initials', :locals => {:id => "hook_sig"} %>
          <%= f.submit I18n.translate('commit_btn.delete_hook_reservation'),  :class => "btn btn-primary", :title=>"Choose Free Hook to remove this bike from its hook" %>
	  <% end # form %>
	  <% end # if can? update %>
	<% else #not bike.hook %>
	<p>No hook is assigned.</p>
          <% if Hook.available.count > 0  %>
	   <% if can? :update, bike %>
	   <%= form_tag hook_reservations_path, :metod => :post, :action => :create do %>
	   <%= select_tag(:hook_id, 
	       options_from_collection_for_select(
	       [OpenStruct.new(:number => nil, 
	   :number => I18n.translate('placeholder.hook_options'))]+	       
	       Hook.available.order(:id), :number, :number)) %>
	   <%= hidden_field_tag :bike_id, bike.number %>
	   <%= render :partial => 'form_initials', :locals => {:id => "hook_sig"} %>
	   <%= submit_tag I18n.translate('commit_btn.new_hook_reservation'), :class => "btn btn-primary"%>
	   <% end # form %>
	   <% end # can update %>
          <% else #no hook %>
           <p>No hooks are available.</p>
	  <% end #hook %>
	  <% end #bike.hook %>
      <% end #bike.departed? %>
    </div> <!-- end of location wrapper -->

    <div class="projInfo">
      <h3>Assignment</h3>
      <% if bike.application %>
        <p>Assigned to: <%= bike.application.label %></p>
	<% if !bike.departed? && can?(:update, bike) %>
        <div>
          <%= form_for bike.assignment, :method => :delete do |f| %>
	  <%= render :partial => 'form_initials', :locals => {:id => "prog_sig"} %>
          <%= f.submit I18n.translate('commit_btn.del_assignment'), :class => "btn btn-danger" %>
          <% end%>
        </div>
	<% end # !bike.departed? %>
      <% end %>
      <% if bike.available? %>
        <p>This bike is available</p>
	<% if can? :update, bike %>
	<%= form_tag assignments_path, :method => :post do %>
	  <%= hidden_field_tag :bike_id, bike.number %>
	  <%= select_tag(
	      :program_id, 
	      options_from_collection_for_select(
	      [OpenStruct.new(:id => nil, 
	  :label => I18n.translate('placeholder.prog_options'))]+
	      Program.all, :id, :label)) %>
	  <%= render :partial => 'form_initials', :locals => {:id => "prog_sig"} %>
	  <%= submit_tag I18n.translate('commit_btn.new_assignment'), :class => "btn btn-primary" %>
	  <% end # form%>
	  <% end # can update %>
	<% end # bike.available? %>
    </div> <!-- end of proj info wrapper -->

    <div class="departInfo">
      <h3>Arrival/Departure</h3>
      <h4>Arrived</h4>
      <p><%= Settings::Date.new(bike.created_at).default_s %></p>
      <h4><%= (bike.departed? || !can?(:upate, bike))? "Departed" : "Depart Bike" %></h4>
	<% if bike.departed? %>
	<p><%= bike.application.departed_at.strftime("%Y-%m-%d") %></p>	
	<% if can? :update, bike %>
	<%= form_for bike.application, :method=>:delete do |f| %>
	<%= render :partial => 'form_initials', :locals => {:id => "dep_sig"} %>
	  <%= f.submit I18n.translate('commit_btn.del_departure'), :class=>"btn btn-primary" %>
	<% end # form %>
	<% end # can? edit %>
	
	<% else %>
	<div>
	<% if can? :update, bike %>
	<%= form_tag departures_path, :method=>:post do %>
	  <%= hidden_field_tag :bike_id, bike.number %>
	  <% if bike.available? %>
	  <%= select_tag(
	      :destination_id, 
	      options_from_collection_for_select(
	      [OpenStruct.new(:id => nil, 
	  :label => I18n.translate('placeholder.departure_destination'))]+
	  Destination.all, :id, :label)) %>
	  <%= label_tag :value, "Final Value" %> 
	  <%= text_field_tag :value, bike.value %>
	  <% end %>
	  <%= render :partial => 'form_initials', :locals => {:id => "dep_sig"} %>
	  <%= submit_tag I18n.translate('commit_btn.new_departure'), :class=>"btn btn-primary" %>
	<% end # form %>
	<% else %>
	  <p>n/a</p>
	<% end # can? update %>
	</div>
      <% end %>
    </div> <!-- end of depart info wrapper -->
    
    </section> <!-- end of bikes meta -->


  <div class="span8">

<ul class="nav nav-tabs" id="tab_ui">
  <li class="active"><a href="#bikeInfo" data-toggle="tab">Bike Info</a></li>
  <li><a href="#action_history" data-toggle="tab">History</a></li>
</ul>
<div class="tab-content span8">
  <section id="bikeInfo" class="tab-pane active span6">
    <div class="block1">
      <h2>
	Bike <%=bike.number %> 
	<%= link_to qr_bike_path(bike) do %><i class="icon-qrcode"></i><% end %> 
      </h2>
      <% if can? :update, bike %>
        <%= link_to(edit_bike_path(bike), :class=> "editLink",   :title => "Edit this bike's information") do %>
	<i class="icon-pencil"></i>Edit Bike<% end %>
	<% end %>
    </div>
    <div>
      <table class="attributes">
	<tr>
	  <td class="key">Manufacturer:</td>
	  <td class="value" ><%= bike.brand.name if bike.brand %></td>
	</tr>
	<tr>
	  <td class="key" >Model:</td>
	  <td class="value"><%= bike.model.name if bike.model %></td>	  
	</tr>
	<tr>
	  <td class="key">Color: </td>
	  <td class="value" >
	    <%= bike.color.name.capitalize %>
	    <span data-bike-color=<%=bike.color.name %> style="background-color:#<%= bike.color.key %>"></span></td>
	</tr>
	<tr>
	  <td class="key">Wheel Size:</td>
	  <td class="value" ><%= "#{bike.wheel_size} mm" %></td>
	</tr>
	<tr>
	  <td class="key">Seat tube height:</td>
	  <td class="value" >
	    <%= render :partial=>'show_measurement', 
	    :locals => {:val => bike.seat_tube_height} %>
	  </td>
	</tr>
	<tr>
	  <td class="key">Top tube length:</td>
	  <td class="value" >
	    <%= render :partial=>'show_measurement', 
	    :locals => {:val => bike.top_tube_length} %>
	  </td>
	</tr>
	<tr>
	  <td class="key">Quality:</td>
	  <td class="value attrQuality" ><%= print_val('quality', bike.quality) %></td>
	</tr>
	<tr>
	  <td class="key">Condition:</td>
	  <td class="value attrCondition" ><%= print_val('condition', bike.condition) %></td>
	</tr>
	<tr>
	  <td class="key">Value:</td>
	  <td class="value" ><%= (bike.value ? print_val('value', bike.value) : "n/a") %></td>
	</tr>
      </table>

      <table class="attributes">
	<tr>
	  <td class="key ">Status: </td>
	  <td class="value">
	  <% if bike.available? %>
	  Available
	  <% elsif bike.departed? %>
	  Departed as <%= bike.application.disposition.label %>
	  <% elsif bike.application %>
	    <%= bike.application.name %>
	  <% end %>
	</td>
	</tr>
      </table>

    </div>

  </section>

  <section id="action_history" class="tab-pane span6">
    <div class="block1">
      <h2>Action History</h2>
      <ul class="span4">
	<% bike.actions.reverse.each do |a| %>
	<li>
	  <%=  action_summary(a) %>
	  <% unless a.changeset.empty? %>
	  <table class="table table-bordered table-condensed">
	    <thead>
	      <tr>
		<th>Attribute</th>
		<th>Was</th>
		<th>Became</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% a.changeset.
		 delete_if{|k, v| 
		 [:created_at, :updated_at, :id].include? k.to_sym
		 }.each do |key, val|%>
	      <tr>
		<td><%= key.humanize.titleize %></td>
		<td><%= print_val(key,val[0]) || "-" %></td>
		<td><%= print_val(key, val[1]) || "-" %></td>
	      </tr>
	      <% end # .changeset.each %>
	    </tbody>
	  </table>
	  <% end # unless .changeset.empty?%>
	</li>
	<% end # actions.each %>
      </ul>
    </div>
  </section>
</div>


  <section class="notesWrapper span8 ">
    <div  class="span8">
      <h3><%= pluralize(bike.comment_threads.length, 'Note') %></h3>
   
      <%= render :partial=>"comments/index", :locals=>{:comments => bike.comment_threads} %> 
      <%= render :partial=>"comments/form",
      :locals=>{:commentable=>programs, :url => new_comment_bike_path(bike)} %>
    </div>
  </section> <!-- end notesWrap -->

</div>


</section> <!-- end of main wrapper -->

