<script type = "text/javascript">
    $(document).ready(function(){
        $("#changeProgram").click(function(){
            $("#changeProgram").fadeOut();
            $("#changeProgramForm").slideDown();
        });
    });
</script>
<section class="show-bike">

  <section class="bikesMeta span3">
    <div id="" class="locationWrap">
      <h3>Location</h3>
      <% if bike.departed? %>
        <p>Bike has departed.</p>
      <% else %>
        <% if bike.hook %>
          <p>Bike <%= bike.number %> is on hook: <%= bike.hook.number %>.</p>
          <%= form_for(hook, :url => vacate_hook_bike_path(bike), :method=>:put) do |f| %>
          <%= f.submit "Free hook" ,  :class => "btn btn-primary", :title=>"Choose Free Hook to remove this bike from its hook" %>
	  <% end %>
	<% else #not bike.hook %>
          <% if hook %>
	    <%= form_for(hook, :url => reserve_hook_bike_path(bike), :method=>:put) do |f| %>
	      <%= label_tag(:hook_id, "Select an available hook:") %>
	      <%= select_tag(:hook_id, options_from_collection_for_select(Hook.available.order(:number), :id, :number)) %>
	      <%= f.submit "Reserve hook", :class=>"btn btn-primary" %>
            <% end %>
          <% else #no hook %>
           <p>No hooks are available.</p>
	  <% end #hook %>
        <% end #bike.hook %>
      <% end #bike.departed? %>
    </div> <!-- end of location wrapper -->
    <div class="projInfo">
      <h3>Assignment</h3>
      <% if bike.application %>
        <p>Assigned to: <%= link_to bike.application.label, bike.application %></p>
        <% if bike.departed_at.nil?%>
        <div>
            <%= link_to "Depart Bike", depart_bike_path(bike), :class => "btn btn-primary" %>
        </div>
        <div>
            <br />
            <button class = "btn btn-info" id = "changeProgram">Change programs</button>
            <div id = "changeProgramForm" style = "display:none;">
            <%= form_for(bike, :url => assign_program_bike_path(bike), :method => :put) do |f| %>
                <%= select_tag(:program_id, options_from_collection_for_select(Program.all, :id, :label)) %>
                <%= f.submit "Change program", :class => "btn btn-success" %>
            <% end%>
            </div>
        </div>
        <% end %>
      <% elsif bike.available? %>
        <p>This bike is available</p>
	<%= form_for(bike, :url => assignments_path, :method => :put) do |f| %>
	  <%= f.hidden_field :bike_id, :value => bike.id %>
	  <%= select_tag(:program_id, options_from_collection_for_select(Program.all, :id, :label)) %>
	  <%= f.submit "Assign", :class => "btn btn-primary" %>
	<% end # bike.available? %>

      <% else %>
        <p>Bike is unavailable.</p>
      <% end %>

    </div> <!-- end of proj info wrapper -->

    <div class="departInfo">
      <% if bike.departed? %>
        <p>Departed: <%= bike.application.departed_at.strftime("%Y-%m-%d") %></p>
      <% end %>
    </div> <!-- end of depart info wrapper -->
    <div>
        <a class = "btn btn-info" style = "margin-top: 10px;" href = "/mobile/generate_code/<%=bike.number%>">Get QR Code</a>
    <div>
    </section> <!-- end of bikes meta -->

  <section id="bikeInfo" class="span8 noteCard noLeftMarg">
    <div class="block1 span8">
      <h2>Bike <%=bike.number %> </h2>
        <%= link_to(edit_bike_path(bike), :class=> "editLink",   :title => "Edit this bike's information") do %>
	<i class="icon-pencil"></i>Edit Bike
	<% end %>
    </div>
    <div>
      <dl class="staticAttributes">
	<dd class="key">Manufacturer:</dd><dd class="value" ><%= bike.brand.name if bike.brand %></dd>
	<dd class="key" >Model:</dd><dd class="value"><%= bike.model.name if bike.model %></dd>
	<dd class="key">Color: </dd>
	<dd class="value" ><%= bike.color.name.capitalize %></dd>
	<span data-bike-color=<%=bike.color.name %> style="background-color:#<%= bike.color.key %>"></span>
	<dd class="key">Wheel Size:</dd><dd class="value" ><%= "#{bike.wheel_size} mm" %></dd>
	<dd class="key">Seat tube height:</dd>
	<dd class="value" >
	  <%= render :partial=>'show_measurement', 
	  :locals => {:val => bike.seat_tube_height} %>
	</dd>
	<dd class="key">Top tube length:</dd>
	<dd class="value" >
	  <%= render :partial=>'show_measurement', 
	  :locals => {:val => bike.top_tube_length} %>
	</dd>
    <dd class="key">Quality:</dd><dd class="value" ><%= bike.quality %></dd>
    <dd class="key">Condition:</dd><dd class="value" ><%= bike.condition %></dd>

	<dd class="key">Value:</dd><dd class="value" ><%= (bike.value ? "$#{bike.value}" : "n/a") %></dd>

      </dl>
      <dl class="dynamicAttributes">
	<dd class="key ">Status: </dd> <dd class="value">
	  <% if bike.available? %>
	  Available
	  <% elsif bike.departed? %>
	  Departed as <%= link_to "#{bike.program.name}",program_path(bike.program) %>
	  <% elsif bike.program %>
	  <%= link_to "#{bike.program.name}",
	      program_path(bike.program) %>
	  <% end %>
	</dd>

      </dl>
    </div>
      <% if @bikePhoto %>
        <div class = "pull-right bikePhotoContainer">
        <%= image_tag root_path+"photos/bike-#{bike.number}.jpeg", :class => "bikePhoto" %>
        </div>  
    <% end %>

  </section>
  <section class="notesWrapper span3" >
  <div id="existingNotes" class=" span3">

    <h3><%= pluralize(bike.comment_threads.length, 'Note') %></h3>
   <%= render :partial=>"comments/form",
   :locals=>{:commentable=>programs, :url => new_comment_bike_path(bike)} %>


    <%= render :partial=>"comments/index", :locals=>{:comments => bike.comment_threads} %> 

  </div> <!-- end of notes wrapper -->
  <div id="newNote" class="span3 noLeftMarg">

  </div>
</section> <!-- end notesWrap -->


</section> <!-- end of main wrapper -->

