<section class="row span8">

<h1>Bike Information</h1>


<%= render :partial=>"bike_table", :layout=>"bike_table_layout" %>

<p><%= link_to "Edit information", edit_bike_path(@bike) %> </p>

<h2>Location</h2>
<% if @bike.hook %>
	<p>Hook: <%= @bike.hook.number %></p>
	<%= form_for(@hook, :url => vacate_hook_bike_path(@bike), :method=>:put) do |f| %>
	<%= button_tag "Free hook" ,  :class => "btn btn-primary" %>


	<% end %>
<% else %>
	<p>None specified.</p>
	<%= form_for(@hook, :url => reserve_hook_bike_path(@bike), :method=>:put) do |f| %>
	<%= f.submit "Reserve hook" %>
	<%= button_tag "Reserve hook" ,  :class => "btn btn-primary" %>

	<% end %>
<% end %>


<h2><%= pluralize(@bike.comment_threads.length, 'Note') %></h2>
<%= render :partial=>"comments/index", :locals=>{:comments => @bike.comment_threads} %>
<br />
<%= render :partial=>"comments/form", :locals=>{:url => new_comment_bike_path(@bike)} %>





</section>
