<section class="show-bike span12">

  <section id="bikeInfo" class="span8 noteCard noLeftMarg">
    <div class="block1 span8">
      <h2>Bike <%=bike.number %> </h2>
        <%= link_to(edit_bike_path(bike), :class=> "editLink",   :title => "Edit this bike's information") do %>
	<i class="icon-pencil"></i>Edit Bike
	<% end %>
    </div>
    <div>
      <dl class="staticAttributes">
	<dd class="key">Manufacturer:</dd><dd class="value" ><%= bike.mfg %></dd>
	<dd class="key" >Model:</dd><dd class="value"><%= bike.model%></dd>
	<dd class="key">Color: </dd>
	<dd class="value" ><%= bike.color %></dd>
	<span data-bike-color=<%=bike.color %> ></span>
	<dd class="key">Seat tube height:</dd><dd class="value" ><%= bike.seat_tube_height %></dd>
	<dd class="key">Top tube length:</dd><dd class="value" ><%= bike.top_tube_length %></dd>

	<dd class="key">Value:</dd><dd class="value" ><%= bike.value %></dd>

      </dl>
      <dl class="dynamicAttributes">
	<dd class="key ">Status: </dd> <dd class="value">
	  <% if bike.available? %>
	  Available
	  <% elsif bike.departed? %>
	  Departed
	  <% elsif bike.project %>
	  <%= link_to "#{bike.project.project_category.name} Project",
	      project_path(bike.project) %>
	  <% end %>
	</dd>

      </dl>
    </div>

  </section>

  <section class="bikesMeta span3">
    <div id="" class="locationWrap">
      <h3>Location</h3>
      <% if bike.departed? %>
        <p>Bike has departed.</p>
      <% else %>
        <% if bike.hook %>
          <p>Bike <%= bike.number %> is on hook: <%= bike.hook.number %>.</p>
          <%= form_for(hook, :url => vacate_hook_bike_path(bike), :method=>:put) do |f| %>
            <%= f.submit "Free hook" ,  :class => "btn btn-primary", :title=>"Choose Free Hook to remove this bike from its hook" %>
	  <% end %>
	<% else #not bike.hook %>
          <% if hook %>
	    <%= form_for(hook, :url => reserve_hook_bike_path(bike), :method=>:put) do |f| %>
	      <%= label_tag(:hook_id, "Select an available hook:") %>
	      <%= select_tag(:hook_id, options_from_collection_for_select(Hook.available, :id, :number)) %>
	      <%= f.submit "Reserve hook", :class=>"btn btn-primary" %>
            <% end %>
          <% else #no hook %>
           <p>No hooks are available.</p>
	  <% end #hook %>
        <% end #bike.hook %>
      <% end #bike.departed? %>
    </div> <!-- end of location wrapper -->
    <div class="projInfo">
      <h3>Project Info</h3>
      <% if bike.project %>
      <p>This bike is currently assigned to<%= bike.prog.title %></p>
      <p><%= link_to "View project details", project_path(bike.project) %>
	<% elsif bike.available? %>
      <p>This bike is available</p>
      <%= form_for(project, :url => projects_path, :method => :post) do |f| %>
      <%= hidden_field_tag(:bike_id, bike.id) %>
      <%= select_tag(:program_id, options_from_collection_for_select(Program.all, :id, :title)) %>
      <%= f.submit "Start project", :class => "btn btn-primary" %>
      <% end # bike.available? %>
      
      <% if bike.canceled_projects.count > 0 %>
      <p>Canceled projects:</p>
      <ul>
	<% bike.canceled_projects.each do |p| %>
	  <li><%= link_to p.label, p %></li>
	<% end %>
      </ul>
      <% end %>

      <% else %>
      <p>Bike is unavailable.</p>

      <% end %>
    </div> <!-- end of proj info wrapper -->

    <div class="departInfo">
      <h3>Departure Info</h3>
      <%= render :partial =>"departure"  %>
    </div> <!-- end of depart info wrapper -->

  </section> <!-- end of bikes meta -->
  <section class="notesWrapper span12 noLeftMarg" >
  <div id="existingNotes" class=" span5">

    <h3><%= pluralize(bike.comment_threads.length, 'Note') %></h3>
   <%= render :partial=>"comments/form",
   :locals=>{:commentable=>project, :url => new_comment_bike_path(bike)} %>


    <%= render :partial=>"comments/index", :locals=>{:comments => bike.comment_threads} %> 

  </div> <!-- end of notes wrapper -->
  <div id="newNote" class="span5 noLeftMarg">

  </div>
</section> <!-- end notesWrap -->


</section> <!-- end of main wrapper -->

