<h1>Bike Information</h1>


<%= render :partial=>"bike_table" %>


<h2>Location</h2>
<% if @bike.hook %>
	<p>Hook: <%= @bike.hook.number %></p>
	<%= form_for(@hook, :url => vacate_hook_bike_path(@bike), :method=>:put) do |f| %>
	<%= f.submit "Free hook" %>
	<% end %>
<% else %>
	<p>None specified.</p>
	<%= form_for(@hook, :url => reserve_hook_bike_path(@bike), :method=>:put) do |f| %>
	<%= f.submit "Reserve hook" %>
	<% end %>
<% end %>


<h2><%= pluralize(@bike.notes.length, 'Note') %></h2>
<%= render :partial=>"comments/index", :locals=>{:comments => @bike.notes} %>
<br />
<%= render :partial=>"comments/form", :locals=>{:url => new_comment_bike_path(@bike)} %>





