<div>
  <%= form_for(time_entry, :url=> url, :method => :post) do |f| %>
    <% time_start = time_entry.started_on.strftime("%m/%d/%Y %l:%M %p") %>
    <% time_end = time_entry.ended_on.strftime("%m/%d/%Y %l:%M %p") %>
    <div class="row">
      <span class="span2 inline-label">
	<%= f.label :started_on, "Starting time:" %>
      </span>
      <span class="span1">
	<%= f.text_field :started_on, :value=>time_start, :class=> "datetimepicker" %>
      </span>
    </div>
    <div class="row">
      <span class="span2 inline-label">
	<%= f.label :ended_on, "Ending time:"%>
      </span>
      <span class="span1">
	<%= f.text_field :ended_on, :value=>time_end, :class=> "datetimepicker" %>
      </span>
    </div>

    <div class="row">
      <span class="span2 inline-label">
	<%= f.label :description, "Description:" %>
      </span>
      <span class="span1">
	<%= f.text_field :description %>
      </span>
    </div>

    <div class="row">
      <span class="span2 offset4">
	<%= button_tag "Submit", :class=> "btn btn-primary" %>
      </span>
    </div>
  <% end %>
</div>
