<div>
  <%= form_for(time_entry, :url=> url, :method => :post) do |f| %>
    <%= f.label "Start" %>
    <%= f.label "End" %>
    <%= f.label "Description" %>
    <%= f.text_field :description %>
    
    <%= button_tag "Submit", :class=> "btn btn-primary" %>
  <% end %>
</div>
