<div>
  <%= form_for(time_entry, :url=> url, :method => :post) do |f| %>
    <div class="row">
      <span class="span2 inline-label">
	<%= f.label :start_datetime, "Starting time:" %>
      </span>
      <span class="span1">
	<%= f.text_field :started_on, :class=> "datetimepicker" %>
      </span>
    </div>
    <div class="row">
      <span class="span2 inline-label">
	<%= f.label :end_datetime, "Ending time:"%>
      </span>
      <span class="span1">
	<%= f.text_field :ended_on, :class=> "datetimepicker" %>
      </span>
    </div>

    <div class="row">
      <span class="span2 inline-label">
	<%= f.label :description, "Description:" %>
      </span>
      <span class="span1">
	<%= f.text_field :description %>
      </span>
    </div>

    <div class="row">
      <span class="span2 offset4">
	<%= button_tag "Submit", :class=> "btn btn-primary" %>
      </span>
    </div>
  <% end %>
</div>
