<!DOCTYPE html>
<html>
<head>
	<title>BikeBinder</title>
	<%= stylesheet_link_tag    "application" %>
	
        <% stylesheet_link_tag    "bootstrap" %>
	<% stylesheet_link_tag    "custom" %>

	<%= javascript_include_tag "application" %>


	<%= csrf_meta_tags %>
	<%= favicon_link_tag '/favicon.png' %>

</head>

<body>
	<% if user_signed_in? %>
	<div class="container-fluid">
		<% else %>
		<div class="container-fluid no-user">
			<div class="navbar-fixed-top navbar overlay">
				<p class="demoHelp" >You can sign in with username "demo@freeridepgh.org" and password "testdemo"</p>
			</div>

			<% end %>
			<div class="row-fluid" id = "pageHeader">
				<header class="span12" id = "pageHeaderContainer">

				    <%= link_to image_tag("free_ride_logo_smaller.jpg"),bikes_path %>
					<%= render 'shared/menu' %>
				</header>

				<%= render 'shared/alerts' %>
			</div>
			<%= yield %>
    	</div>
     	<footer style = "text-align: center;" class = "footer">
	    	<p>&copy; 2012 <a href="http://freeridepgh.org">Free Ride Community Bicycle Project</a>.</p>
<p><span class="tinytext">See <a href="https://github.com/FreeRidePGH/BikeBinder/wiki/Contributors">the contributors list </a> to learn who built this open source software.
			</span></p>
        </footer>

		</body>
	</html>
