<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>

<body>
  <div class="container-fluid<%= ' no-user' if !user_signed_in? %>">
    <% if ENV['DEMOVISUAL']=='true' %>
    <p class="demoHelp center-block">
     <strong> &gt;&gt;&gt;&gt; </strong>You are on the demo database. Your changes will not affect the shop database. <strong>&lt;&lt;&lt;&lt;</strong>
    </p>
    <% end %>
      <div class="row-fluid span12" id="pageHeader">
	<header>
	  <div class="pull-left span2" id="header_logo">
	    <%= link_to image_tag("free_ride_logo_smaller.jpg"), root_path, 
		:class=>"span12" %>
	  </div>
	  <div class="row span9 pull-right">
              <%= render 'shared/menu' %>
	  </div>
	</header>
      </div>
     <section id="user_login_status" class="text-right clearfix">
	<p class="pull-right">
	<% if user_signed_in? %>
	Signed in as <%= current_user.email %>.
	<%= link_to "Sign out", destroy_user_session_path , :method=>:delete%></p>
	<% else %>
	 <!-- %= link_to "Sign up", new_user_registration_path %> or -->
	 <%= link_to "Sign in", new_user_session_path , :class=> "" %>
	 <% end # if user_signed_in? %>
	</p>
    </section>

      <%= render 'shared/alerts' %>
      <div class="container">
      <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
</body>
</html>
