<!DOCTYPE html>
<html>
<head>
  <title><%= header_title %></title>
  <%= stylesheet_link_tag    "application" %>
  
  <% stylesheet_link_tag    "bootstrap" %>
  <% stylesheet_link_tag    "custom" %>
  
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript">
    //specify locale
    // TODO read from the session cookie so this can be done
    // along with other initializations
    I18n.locale = "<%= I18n::locale %>";
  </script>
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.png' %>

</head>

<body>
  <div class="container-fluid<%= ' no-user' if !user_signed_in? %>">

      <div class="row-fluid span12" id="pageHeader">
	<header>
	  <%= link_to image_tag("free_ride_logo_smaller.jpg"), bikes_path, 
	      :class=> "pull-left span3" %>
	  <div class="row span6 pull-right">
              <%= render 'shared/menu' %>
	  </div>
	</header>
      </div>
     <section id="user_login_status" class="pull-right row span12 text-right">
	<p>
	<% if user_signed_in? %>
	Signed in as <%= current_user.email %>.
	<%= link_to "Sign out", destroy_user_session_path , :method=>:delete%></p>
	<% else %>
	 <!-- %= link_to "Sign up", new_user_registration_path %> or -->
	 <%= link_to "Sign in", new_user_session_path , :class=> "" %>
	 <% end # if user_signed_in? %>
	</p>
    </section>

      <%= render 'shared/alerts' %>
      <div class="container">
      <%= yield %>
      </div>
    </div>
    <footer style = "text-align: center;" class = "footer">
      <p>&copy; 2012 <a href="http://freeridepgh.org">Free Ride Community Bicycle Project</a>.</p>
      <p><span class="tinytext">See <a href="https://github.com/FreeRidePGH/BikeBinder/wiki/Contributors">the contributors list </a> to learn who built this open source software.
      </span></p>
    </footer>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
