<!DOCTYPE html>
<html>
<head>
  <title>BikeBinder</title>
  <%= stylesheet_link_tag    "application" %>
  <!-- lets get Bootstrapping -->
  <%= stylesheet_link_tag    "bootstrap" %>



  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<header class="row span12">
  <%= content_tag(:h1, header_title) %>

</header>

<%= render 'shared/alerts' %>
<%= render 'shared/menu' %>

<%= yield %>


<footer class="row span7">
<%= debug(params) if Rails.env.development? %>
</footer>
</div>
</body>
</html>
